h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Tomar muestras de agua y suelo de acuerdo con la normatividad vigente y los protocolos establecidos.