h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Presentación', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Introducción a la toma de muestras de agua y suelo', 'main.html#page/introduccion/')
                    +navTemaItem('3', 'Pasos y normativa de la toma de muestras', 'main.html#page/pasos/')
                    +navTemaItem('4', 'Conceptos básicos de unidades de medida', 'main.html#page/conceptos/')
                    +navTemaItem('5', 'Características básicas de rotulado y envase', 'main.html#page/caracteristicas/')
                    +navTemaItem('6', 'Capacitación del personal y seguridad y salud en el trabajo', 'main.html#page/capacitacion/')
                    +navTemaItem('7', 'Reconocimiento de material de laboratorio para análisis físicos químicos y microbiológico de las muestras', 'main.html#page/toma/')
                    +navTemaItem('8', 'Métodos de aforo para determinación de caudales', 'main.html#page/metodos/')
                    +navTemaItem('9', 'Toma de muestra de suelo', 'main.html#page/toma1/')
                    +navTemaItem('10', 'Parámetros in situ para agua', 'main.html#page/parametros/')
                    +navTemaItem('11', 'Parámetros in situ para suelo', 'main.html#page/parametros1/')
                    +navTemaItem('12', 'Transporte y recepción de muestras de agua', 'main.html#page/transporte/')
                    +navTemaItem('13', 'Transporte y recepción de muestras de suelo', 'main.html#page/transporte2/')
                    +navTemaItem('14', 'Cadena de custodia', 'main.html#page/cadena/')