.container#presentacion

    .header-ecored
        h1 1. Presentación

    .card

        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

        .card-body
            .card-text
                
                p El muestreo de un sitio potencialmente alterado por sustancias inorgánicas y/u orgánicas tiene como objetivo la obtención de información sobre la concentración de tales sustancias en el medio alterado sea agua, suelo o aire, de manera que pueda establecerse una comparación con los niveles de referencia propuestos para la protección de la salud humana y los ecosistemas. 

                p.mt-4 La importancia del muestreo radica en que la información sobre sustancias que alteran la calidad del medio sea agua, suelo o aire ha de ser significativa y fiable, de manera que la toma de decisiones sobre el sitio potencialmente alterado o contaminado sea adecuada a su particular problemática.  

                p.mt-4 Los grados de significación y fiabilidad de la información a obtener en la muestra es de gran prioridad, para evitar alteraciones en los resultados sea por mala toma de la muestra o mala preservación de la misma, por eso es importante que la adecuación del muestreo debe estar a las peculiares características ambientales de cada sitio. 

                p.mt-4 Esto es así porque dependiendo del muestreo, el valor estadístico obtenido para cada contaminante reflejará con mayor o menor precisión el valor real existente en el sitio. Por tanto, la selección del procedimiento de muestreo es crucial, y de él depende en gran medida que las decisiones tomadas sobre un medio sea agua, suelo o aire potencialmente alterado en su calidad sean eficaces para abordar y solucionar su problemática.

                p.mt-4 #[b Mapa de navegación]

                p.mt-4 En esta unidad temática se desarrollará 13 contenidos virtuales para tener bases concretas en el proceso de toma de muestras en agua y suelo en cuanto a la recolección, transporte, preservación y recepción de muestras.

                .list.align-items-center.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p.mb-0 Presentación.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p.mb-0 Introducción a la toma de muestras agua y suelo.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p.mb-0 Pasos y normativa de la toma de muestras.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p.mb-0 Conceptos básicos de unidades de medida.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p.mb-0 Características básicas de rotulado y envasado.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt
                        p.mb-0 Capacitación del personal y seguridad y salud en el trabajo.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 7
                    .list__txt
                        p.mb-0 Toma de muestras de agua.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 8
                    .list__txt
                        p.mb-0 Métodos de aforo para determinación de caudales.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 9
                    .list__txt
                        p.mb-0 Toma de muestra de suelo.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 10
                    .list__txt
                        p.mb-0 Parámetros in situ para agua.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 11
                    .list__txt
                        p.mb-0 Parámetros in situ para suelo.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 12
                    .list__txt
                        p.mb-0 Transporte y recepción de muestras de agua.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 13
                    .list__txt
                        p.mb-0 Transporte y recepción de muestras de suelo.
                .list.align-items-center
                    .list__item
                        .list__item__bulletNumber
                            span 14
                    .list__txt
                        p.mb-0 Cadena de custodia.