.container#parametros

    .header-ecored
        h1 10. Parámetros in situ para agua
    
    br#introduccion1
    
    .jumbotron.bg-white

        .subtitulo-guion
            h2 10.1 Introducción
        
        .row.align-items-center.justify-content-center.mt-4
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img74.png", style="max-width: 100%")
        
        p.mt-4 Las aguas contaminadas presentan compuestos diversos en función de su procedencia: pesticidas, tensoactivos, fenoles, aceites y grasas, metales pesados, etc.

        .header-arrow.my-5
            h3.text-center Los parámetros de control se pueden agrupar de la siguiente manera:
        
        p.mt-5 #[b Físicos]

        ul
            li Características.
            li.mt-2 Organolépticas.
            li.mt-2 Color.
            li.mt-2 Olor.
            li.mt-2 Sabor.
            li.mt-2 Elementos flotantes.
            li.mt-2 Temperatura.
            li.mt-2 Sólidos.
            li.mt-2 Conductividad.
            li.mt-2 Radioactividad.

        p.mt-5 #[b Químicos]

        ul
            li pH.
            li.mt-2 Materia orgánica. (Carbono orgánico total COT)
            li.mt-2 DBO.
            li.mt-2 DQO.
            li.mt-2 Nitrógeno y compuestos derivados. (amoniaco, nitratos, nitritos, etc.)
            li.mt-2 Fósforo y compuestos derivados. (fosfatos)
            li.mt-2 Aceites y grasas.
            li.mt-2 Hidrocarburos.
            li.mt-2 Detergentes.
            li.mt-2 Cloro y cloruros.
            li.mt-2 Fluoruros.
            li.mt-2 Sulfatos y sulfuros.
            li.mt-2 Fenoles.
            li.mt-2 Cianuros.
            li.mt-2 Haloformos.
            li.mt-2 Metales.
            li.mt-2 Pesticidas.
            li.mt-2 Gases disueltos.
            li.mt-2 Oxígeno.
            li.mt-2 Nitrógeno.
            li.mt-2 Dióxido de carbono.
            li.mt-2 Metano.
            li.mt-2 Ácido sulfhídrico. 

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_6_Analisis_aguas.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis de aguas
        
        .sub-line
            h3 Parámetros físicos

        .row.align-items-center.justify-content-center.mt-4
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img75.png", style="max-width: 100%")
        
        p.mt-5 Es el resultado de la presencia de materiales de origen vegetal tales como ácidos húmicos, turba, plancton, y de ciertos metales como hierro, manganeso, cobre y cromo, disueltos o en suspensión. Constituye un aspecto importante en términos de consideraciones estéticas. 

        p Los efectos del color en la vida acuática se centran principalmente en aquellos derivados de la disminución de la transparencia, es decir que, además de entorpecer la visión de los peces, provoca un efecto barrero a la luz solar, traducido en la reducción de los procesos fotosintéticos en el fitoplancton, así como una restricción de la zona de crecimiento de las plantas acuáticas. 

        p El Olor, es debido a cloro, fenoles, ácido sulfhídrico, etc. La percepción del olor no constituye una medida, sino una apreciación, y ésta tiene, por lo tanto, un carácter subjetivo. El olor raramente es indicativo de la presencia de sustancias peligrosas en el agua, pero sí puede indicar la existencia de una elevada actividad biológica. Por ello, en el caso de aguas potable, no debería apreciarse olor alguno, no sólo en el momento de tomar la muestra sino a posteriori (10 días en recipiente cerrado y a 20ºC).

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_6_Analisis_aguas.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis de aguas
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img76.png", style="max-width: 100%")
        
        p.mt-4 Es una medida de la dispersión de la luz por el agua como consecuencia de la presencia en la misma de materiales suspendidos coloidales y/o particulados. La presencia de materia suspendida en el agua puede indicar un cambio en su calidad (por ejemplo, contaminación por microorganismos) y/o la presencia de sustancias inorgánicas finamente divididas (arena, fango, arcilla) o de materiales orgánicos.

        p La turbidez es un factor ambiental importante en las aguas naturales, y afecta al ecosistema ya que la actividad fotosintética depende en gran medida de la penetración de la luz. Las aguas turbias tienen, por supuesto, una actividad fotosintética más débil, lo que afecta a la producción de fitoplancton y también a la dinámica del sistema. La turbidez del agua interfiere con usos recreativos y el aspecto estético del agua.

        p La turbidez constituye un obstáculo para la eficacia de los tratamientos de desinfección, y las partículas en suspensión pueden ocasionar gustos y olores desagradables por lo que el agua de consumo debe estar exenta de las mismas. Por otra parte, la transparencia del agua es especialmente importante en el caso de aguas potables y también en el caso de industrias que producen materiales destinados al consumo humano, tales como las de alimentación, fabricación de bebidas, etc.

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_6_Analisis_aguas.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis de aguas
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img77.png", style="max-width: 100%")
        
        p.mt-4 Comprenden a todas aquellas sustancias que están suspendidas en el seno del agua y no decantan de forma natural.

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_6_Analisis_aguas.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis de aguas
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Temperatura]

                p La temperatura de las aguas residuales y de masas de agua receptora es importante a causa de sus efectos sobre la solubilidad del oxígeno y, en consecuencia, sobre las velocidades en el metabolismo, difusión y reacciones químicas y bioquímicas. El empleo de agua para refrigeración (por ejemplo, en las centrales nucleares) conlleva un efecto de calentamiento sobre el medio receptor que se denomina “contaminación térmica”. Su alteración suele deberse a su utilización industrial en procesos de intercambio de calor (refrigeración). Influye en la solubilidad de los gases y las sales. Temperaturas elevadas implican aceleración de la putrefacción, con lo que aumenta la DBO y disminuye el oxígeno disuelto.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Sólidos]

                p De forma genérica se puede denominar sólidos a todos aquellos elementos o compuestos presentes en el agua que no son agua ni gases. Atendiendo a esta definición se pueden clasificar en dos grupos: disueltos y en suspensión. En cada uno de ellos, a su vez, se pueden diferenciar los sólidos volátiles y los no volátiles. La medida de sólidos totales disueltos (TDS) es un índice de la cantidad de sustancias disueltas en el agua, y proporciona una indicación general de la calidad química. TDS es definido analíticamente como residuo filtrable total (en mg/L) Los principales aniones inorgánicos disueltos en el agua son carbonatos, bicarbonatos, cloruros, sulfatos, fosfatos y nitratos.

                p Los principales cationes son calcio, magnesio, sodio, potasio, amonio, etc. Por otra parte, el término sólidos en suspensión, es descriptivo de la materia orgánica e inorgánica particulada existente en el agua (aceites, grasas, arcillas, arenas, fangos, etc.). La presencia de sólidos en suspensión participa en el desarrollo de la turbidez y el color del agua, mientras que la de sólidos disueltos determina la salinidad del medio, y en consecuencia la conductividad del mismo.

                p Por último, la determinación de sólidos volátiles constituye una medida aproximada de la materia orgánica, ya que a la temperatura del método analítico empleado el único compuesto inorgánico que se descompone es el carbonato magnésico.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Conductividad]

                p La conductividad eléctrica de una solución es una medida de la capacidad de la misma para transportar la corriente eléctrica y permite conocer la concentración de especies iónicas presentes en el agua. Como la contribución de cada especie iónica a la conductividad es diferente, su medida da un valor que no está relacionado de manera sencilla con el número total de iones en solución. Depende también de la temperatura. Está relacionada con el residuo fijo por la expresión conductividad (μS/cm) x f = residuo fijo (mg/L) El valor de f varía entre 0.55 y 0.9.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Radiactividad]

                p La contaminación radiactiva puede ser originada por los radioelementos naturales, principalmente uranio, torio y actinio, y sus productos de descomposición, procedentes tanto de fuentes naturales, como por las actividades humanas: pruebas de armamento nuclear, operaciones relacionadas con la obtención de energía atómica, extracción de minerales, generación de energía, usos industriales o en medicina, etc. La mayoría de los compuestos radioactivos tienen muy baja solubilidad en agua y son adsorbidos en las superficies de las partículas, por lo que los niveles de radiactividad en aguas naturales son normalmente bajos. Por otra parte, las aguas superficiales presentan unas concentraciones de estos compuestos más bajas que las aguas subterráneas.
        
        .sub-line
            h3 Parámetros químicos
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img78.png", style="max-width: 100%")
        
        p.mt-4 Se define como el logaritmo de la inversa de la concentración de protones: pH = log 1/[H+ ] = - log [H+ ] La medida del pH tiene amplia aplicación en el campo de las aguas naturales y residuales.

        p Es una propiedad básica e importante que afecta a muchas reacciones químicas y biológicas. Valores extremos de pH pueden originar la muerte de peces, drásticas alteraciones en la flora y fauna, reacciones secundarias dañinas (por ejemplo, cambios en la solubilidad de los nutrientes, formación de precipitados, etc.).

        p El pH es un factor muy importante en los sistemas químicos y biológicos de las aguas naturales. El valor del pH compatible con la vida piscícola está comprendido entre 5 y 9. Sin embargo, para la mayoría de las especies acuáticas, la zona de pH favorable se sitúa entre 6.0 y 7.2. Fuera de este rango no es posible la vida como consecuencia de la desnaturalización de las proteínas.

        p La alcalinidad es la suma total de los componentes en el agua que tienden a elevar el pH del agua por encima de un cierto valor (bases fuertes y sales de bases fuertes y ácidos débiles), y, lógicamente, la acidez corresponde a la suma de componentes que implican un descenso de pH (dióxido de carbono, ácidos minerales, ácidos poco disociados, sales de ácidos fuertes y bases débiles).

        p Ambos, alcalinidad y acidez, controlan la capacidad de tamponamiento del agua, es decir, su capacidad para neutralizar variaciones de pH provocadas por la adición de ácidos o bases. El principal sistema regulador del pH en aguas naturales es el sistema carbonato (dióxido de carbono, ion bicarbonato y ácido carbónico).

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img79.png", style="max-width: 100%")
        
        p La materia orgánica existente en el agua, tanto la que se encuentra disuelta como en forma de partículas, se valora mediante el parámetro carbono orgánico total (TOC, total organic carbon). Los compuestos orgánicos existentes en el medio acuático se pueden clasificar en dos grandes grupos atendiendo a su biodegradabilidad, es decir, a la posibilidad de ser utilizados por microorganismos como fuente de alimentación y para su medida se utilizan los parámetros denominados DQO (Demanda Química de Oxígeno) y DBO (Demanda Bioquímica de Oxígeno), que exponemos a continuación.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Demanda química de oxígeno DQO]

                p Es la cantidad de oxígeno consumido por los cuerpos reductores presentes en el agua sin la intervención de los organismos vivos. Efectúa la determinación del contenido total de materia orgánica oxidable, sea biodegradable o no.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Demanda bioquímica de oxígeno DBO]

                p Permite determinar la materia orgánica biodegradable. Es la cantidad de oxígeno necesaria para descomponer la materia orgánica presente, por la acción bioquímica aerobia. Esta transformación biológica precisa un tiempo superior a los 20 días, por lo que se ha aceptado, como norma, realizar una incubación durante 5 días, a 20ºC, en la oscuridad y fuera del contacto del aire, a un pH de 7-7.5 y en presencia de nutrientes y oligoelementos que permitan el crecimiento de los microorganismos. A este parámetro se le denomina DBO5.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Nitrógeno y derivados]

                p Las formas inorgánicas del nitrógeno incluyen nitratos (NO3 −jgvc) y nitritos (NO2 −), amoníaco (NH3) y nitrógeno molecular (N2). De forma natural, en el medio acuático, también se producen compuestos orgánicos nitrogenados que contienen nitrógeno amínico o amídico, constituyendo compuestos heterocíclicos tales como purinas y piridinas. El amoníaco es un gas incoloro a presión y temperatura ambiente, con un olor picante característico, que es altamente soluble en agua. Cuando se disuelve en agua se forman iones amonio (NH4 +), estableciéndose un equilibrio químico entre ambas formas, la no ionizada (amoníaco) y la ionizada (amonio). El término amonio total se refiere a la suma de ambas especies. El amoníaco es tóxico para los peces. La presencia de nitratos proviene de la disolución de rocas y minerales, de la descomposición de materias vegetales y animales y de efluentes industriales. Tampoco puede descartarse la contaminación proveniente del lavado de tierras de labor en donde se utiliza profusamente como componente de abonos y fertilizantes. En aguas residuales, su presencia es mínima habida cuenta del estado reductor de este medio. Por el contrario, la producción de NO3 − en depuradoras de aguas residuales debe tenerse en cuenta, pues se convierte en factor limitante del crecimiento en sistemas hídricos si existe abundancia de fósforo, promoviendo fenómenos indeseables como la eutrofización. El nitrógeno Kjeldahl (NTK) mide la cantidad de nitrógeno amoniacal y de nitrógeno orgánico. Indica el contenido proteínico del agua.
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img80.png", style="max-width: 100%")
        
        p.mt-5 En este grupo se incluyen los aceites y las grasas que se encuentren en estado libre, ya sean de origen animal, vegetal o mineral, destacando entre estos últimos por su especial importancia los derivados del petróleo. La mayoría de estos productos son insolubles en el agua, pero pueden existir en forma emulsionada o saponificada. Según su mezcla con los hidrocarburos, dan un aspecto irisado al agua, así como un sabor y un olor particulares.

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img81.png", style="max-width: 100%")
        
        p.mt-5 Bajo la denominación de hidrocarburos se encuentran agrupados una serie de compuestos cuya característica común es el presentar en su estructura átomos de carbono y de hidrógeno. Entre todas estas sustancias, se pueden diferenciar dos grupos que presentan una mayor importancia, los hidrocarburos derivados del petróleo y los hidrocarburos aromáticos policíclicos (PAHs). Estos últimos son cancerígenos.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Detergentes]

                p Como detergentes se designan a las sustancias que poseen unas importantes propiedades limpiadoras. Se trata de productos complejos constituidos por uno o varios agentes surfactantes, compuestos minerales (carbonatos, fosfatos, polifosfatos, perboratos), frecuentemente asociados a materias orgánicas mejorantes, a enzimas y a secuestrantes. De todos ellos, los más característicos son los surfactantes, productos químicos orgánicos que reducen la tensión superficial del agua y de otros líquidos.
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img82.png", style="max-width: 100%")
        
        p.mt-5 El cloro elemental es un gas amarillo-verdoso altamente soluble en agua. Cuando se disuelve en ausencia de sustancias nitrogenadas (con la materia orgánica nitrogenada forma cloraminas) u otros productos que puedan interferir, el cloro es rápidamente hidrolizado a ácido hipocloroso (HOCl) y ácido clorhídrico (HCl). A su vez el ácido clorhídrico se disocia fácilmente a iones hidrógeno y cloruro, mientras que el ácido hipocloroso, que es un ácido débil, se disocia parcialmente en iones hidrógeno e iones hipoclorito (OCl−). Las proporciones relativas de Cl2, HOCl y OCl− en equilibrio (especies que en conjunto se denominan cloro libre disponible) se encuentran controladas por el pH, la temperatura y la fuerza iónica. El cloro en agua reacciona fácilmente con las sustancias nitrogenadas para producir mono-, di- y triaminas, N-cloraminas y N-cloramidas y otros compuestos N-clorados (conocidos en conjunto como cloro disponible combinado). Tanto las formas de cloro libre como las de cloro combinado participan en diversas reacciones con compuestos orgánicos para generar productos clorados. El cloro que permanece en agua después de un tratamiento se denomina cloro residual. El conjunto de cloro libre y cloro combinado se nombra como cloro residual total (TRC total residual chlorine). La medida de TRC se considera suficiente para definir la toxicidad sobre los organismos acuáticos de agua dulce. El ión cloruro se encuentra ampliamente distribuido en el medio ambiente, generalmente en forma de cloruro sódico, potásico o cálcico. El gran inconveniente de los cloruros es el sabor desagradable que comunican al agua. Son también susceptibles de ocasionar una corrosión en las canalizaciones y en los depósitos, en particular para los elementos de acero inoxidable.

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Fluoruros]

                p La mayoría de los fluoruros asociados con cationes monovalentes son solubles en agua, pero aquellos formados con cationes divalentes son normalmente insolubles.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Sulfatos]

                p “El ión sulfato (SO4 2− ) es la forma oxidada estable del azufre, siendo muy soluble en agua. Sin embargo, los sulfatos de plomo, bario y estroncio son insolubles. El sulfato disuelto puede ser reducido a sulfito y volatilizado a la atmósfera como H2S, precipitado como sales insolubles o incorporado a organismos vivos. Los sulfatos sirven como fuente de oxígeno a las bacterias, en condiciones anaeróbicas, convirtiéndose en sulfuro de hidrógeno. Pueden ser producidos por oxidación bacteriana de los compuestos azufrados reducidos, incluyendo sulfuros metálicos y compuestos orgánicos.”
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Fenoles]

                p Los compuestos fenólicos pueden afectar a las especies piscícolas de diversas formas: por toxicidad directa tanto a los peces como a los organismos que les sirven como alimento (son extremadamente tóxicos) y por disminución de la cantidad de oxígeno disponible por la elevada demanda de oxígeno de los compuestos.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Cianuros]

                p Como cianuros se incluyen una serie de diversos compuestos orgánicos caracterizados por el grupo −C≡N. Los gérmenes aerobios responsables de la depuración y los peces son sensibles a un contenido de 0,1 mg/L de HCN.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Haloformos]

                p Los derivados orgánicos de halógenos (C1, F, Br, I) presentes en el agua se clasifican con el nombre de haloformos. Los compuestos que se han identificado más a menudo en agua son los trihalometanos, así como también el tetracloruro de carbono y el dicloroetano.
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Metales]

                p “Bajo este epígrafe se agrupan los compuestos constituidos por los diferentes elementos metálicos, por lo cual las características de los mismos dependen, entre otros factores, del metal que esté incorporado. Desde la perspectiva de los potenciales efectos que pueden generar, quizás los de mayor importancia son los compuestos de mercurio y de cadmio. El mercurio puede formar numerosas especies, algunas con una apreciable solubilidad mientras que otras son bastante insolubles. La concentración de mercurio en medios acuosos es relativamente pequeña, encontrándose normalmente unido a materia particulada y al sedimento. El mercurio presenta una elevada toxicidad potencial, principalmente como consecuencia de los procesos de bioacumulación. En las aguas naturales el cadmio se encuentra normalmente en la forma divalente, formando compuestos orgánicos e inorgánicos, principalmente como ión libre, cloruros y carbonatos. Los carbonatos, sulfuros, e hidróxidos de cadmio presentan una baja solubilidad en agua, mientras que la solubilidad del ión cadmio disminuye con el incremento de pH porque se favorece la formación del hidróxido. El cadmio presenta una toxicidad elevada con efecto acumulativo.“
        
        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Pesticidas]

                p “Se clasifican según sus usos, en insecticidas, fungicidas, herbicidas, acaricidas, nematocidas, rodenticidas, etc. También pueden clasificarse atendiendo a sus características químicas. Además de sustancias minerales (azufre, sulfato de cobre, arseniato de plomo y de calcio), se emplean particularmente los compuestos orgánicos clorados, como son los insecticidas: DDT, lindano, aldrín, dieldrín, etc; o los herbicidas derivados de fenoxiácidos. Entre los demás compuestos orgánicos se encuentran principalmente los ésteres fosforados utilizados como insecticidas (paratión, malatión, etc). Pero existen también compuestos orgánicos u organometálicos, cuyas moléculas llevan incorporados grupos funcionales muy variados: derivados de la urea, de las triacinas, empleados como herbicidas, carbamatos y ditiocarbamatos utilizados como fungicidas, etc. En el medio acuático, la toxicidad de los pesticidas varía en función de su naturaleza y según las especies y su estado de desarrollo (huevo, alevín, adulto), así como dependen del medio en el que viven las especies piscícolas (contenidos en gases disueltos, temperatura y pH). Para los peces, los insecticidas clorados son mucho más tóxicos (apróx. 100 veces) que los derivados organofosforados. Los herbicidas son mucho menos tóxicos que los insecticidas (2000 a 3000 veces menos). Considerados en su conjunto, los pesticidas fosforados son mucho más tóxicos para el hombre y los mamíferos que los pesticidas clorados.”

        .row.bg-color2.mt-5.rounded
            .col-12.p-4
                p #[b Oxígeno disuelto]

                p “Es necesario para la vida de los peces y otros organismos acuáticos. El oxígeno es moderadamente soluble en agua, dependiendo la solubilidad de la temperatura, la salinidad, la turbulencia del agua y la presión atmosférica: disminuye cuando aumenta la temperatura y la salinidad, y cuando disminuye la presión atmosférica. La solubilidad del oxígeno atmosférico en aguas dulces, a saturación y al nivel del mar, oscila aproximadamente entre 15 mg/L a 0ºC y 8 mg/L a 25ºC.”
    
    br#tipos1
    
    .jumbotron.bg-white

        .subtitulo-guion
            h2 10.2. Tipos de ensayos: Ensayos in situ
        
        p Los ensayos in situ, son los ensayos o mediciones que realizan de algunos parámetros en campo, que por su naturaleza si no se realiza de manera inmediata los resultados arrojados posteriormente no serán verídicos, para agua de consumo humano se encuentran dentro de estos parámetros: la temperatura, el olor, el sabor, el cloro residual libre y el pH (INS, 2011, p.46), sin embargo para otro tipos de aguas como las residuales o las superficiales, estos también son aplicables para mediciones in situ incluyendo Conductividad, turbidez y Oxígeno Disuelto, la medición de estos se realiza con el equipo multiparamétrico.

        p Estas mediciones se realizan generalmente haciendo uso de equipos portátiles como sondas multiparamétricas, pHmetros y conductímetros, sin embargo, se debe resaltar que para hacer estos análisis siempre se debe llevar a cabo bajo las indicaciones de revisión y calibración de los equipos.

        .header-arrow.my-5
            h3.text-center Explicación de algunos parámetros medidos in situ:
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img83.png").img-fluid
                        p.card__copy #[b Oxígeno disuelto:] este parámetro proporciona una medida de la cantidad de oxígeno disuelto en el agua. Mantener una concentración adecuada de oxígeno disuelto en el agua es importante para la supervivencia de los peces y otros organismos de vida acuática. La temperatura, el material orgánico disuelto, los oxidantes inorgánicos, etc. afectan sus niveles. La baja concentración de oxígeno disuelto puede ser un indicador de que el agua tiene una alta carga orgánica provocada por aguas residuales.

                        p.mt-4 Las fuentes de oxígeno en el agua son la aireación y la fotosíntesis de las algas, su concentración depende fundamentalmente de la temperatura, presión y salinidad. (INVEMAR, 2013, Pag. 14)
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img84.png").img-fluid
                        p.card__copy #[b Conductividad:] la conductividad de una muestra de agua es una medida de la capacidad que tiene la solución para transmitir corriente eléctrica. Esta capacidad depende de la presencia, movilidad, valencia y concentración de iones, así como de la temperatura del agua. Se debe tener en cuenta que las sales minerales son buenas conductoras y que las materias orgánicas y coloidales tienen poca conductividad. (INVEMAR, 2013, Pag. 24)
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img85.png").img-fluid
                        p.card__copy #[b pH:] el pH es una medida de la concentración de iones de hidrógeno en el agua. Aguas fuera del rango normal de 6 a 9 pueden ser dañinas para la vida acuática. Estos niveles de pH pueden causar perturbaciones celulares y la eventual destrucción de la flora y fauna acuática. En el campo de abastecimiento de agua el pH tiene importancia en la coagulación química, desinfección, ablandamiento del agua y control de corrosión. (INVEMAR, 2013, Pag. 22)
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img86.png").img-fluid
                        p.card__copy #[b Temperatura:] la temperatura juega un papel muy importante en la solubilidad de los gases, en la disolución de las sales y por lo tanto en la conductividad eléctrica, en la determinación de pH, en el conocimiento del origen de agua y de las eventuales mezclas, etc. Las descargas de agua a altas temperaturas pueden causar daños a la flora y fauna de las aguas receptoras al interferir con la reproducción de las especies, incrementar el crecimiento de bacterias y otros organismos, acelerar las reacciones químicas, reducir los niveles de oxígeno y acelerar la eutrofización. 

                        p.mt-4 La medición de temperatura en muestras ambientales debe ser una labor realizada in situ, y no aplica por ello los procedimientos de almacenamiento y preservación. El mejor método para la lectura de este parámetro es introducir directamente los equipos de medición (termómetro o sonda) en el cuerpo de agua. 

                        p Las muestras en campo deben medirse directamente en la columna de agua introduciendo la sonda y procurando mantenerla siempre a la misma profundidad (25 cm por debajo de la superficie). 

                        p Para tomar la temperatura en el fondo de la columna de agua es conveniente el uso de botellas que posean termómetros invertidos, o el uso de sondas que puedan bajar hasta el lugar donde se necesita leer. 

                        p Si no se dispone de estos materiales, se toma la muestra con una de las botellas de muestreo (Nansen o Niskin) y se transfiere la mayor cantidad de agua a un recipiente grande (balde, con el fin de minimizar los errores por la transferencia de calor con el ambiente), y se introduce la sonda o termómetro, se mantiene una agitación constante con movimientos circulares y se registra el valor de temperatura; esta operación debe hacerse lo más rápido posible (INVEMAR, 2013, Pag. 21).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img87.png").img-fluid
                        p.card__copy #[b Turbidez:] la turbidez del agua es provocada por la materia insoluble, en suspensión o dispersión coloidal. Es un fenómeno óptico que consiste esencialmente en una absorción de luz combinado con un proceso de difusión.
                        
                        p.mt-4 En caso de requerirse la extracción de una muestra para la medición de los parámetros in situ, es recomendable realizar la medición de los parámetros de inmediato para evitar variación de estos (INVEMAR, 2013, Pag. 26).
        
        p.mt-5 Para que tenga una mayor información lo invitamos a visualizar el siguiente video:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/oifjrwwSu4E', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.bg-color1.mt-5.rounded
            .col-12.p-4
                p #[b ¡Estimado Aprendiz!]

                p Para profundizar en el tema lo invitamos a consultar en material complementario - Práctica de Toma de muestras de agua y análisis in situ.

                .list.align-items-center.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p.mb-0 Instituto Nacional de Salud (011) Manual de Instrucciones para la toma, preservación y transporte de muestras de agua de consumo humano para Análisis de laboratorio.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p.mb-0 SENA (2020) Guía Muestreo general para análisis Fisicoquímico.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p.mb-0 Ministerio de Medio Ambiente y Agua (2015) guía para la toma de muestras de agua residual.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p.mb-0 Universidad Nacional de Colombia (1995) Manual de Análisis de Aguas.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p.mb-0 Fundación Nacional de Salud (2013) Manual Práctico de Análisis de Agua.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt
                        p.mb-0 Universidad Nacional Santiago Antúnez de Mayolo (2010) Protocolo de Monitoreo de Agua.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 7
                    .list__txt
                        p.mb-0 IDEAM (2007) Toma de Muestras de Aguas Residuales.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 8
                    .list__txt
                        p.mb-0 SENA (2020) Alistamiento y esterilización de materiales para el muestreo de agua para análisis microbiológico.