.container#parametros1

    .header-ecored
        h1 11. Parámetros in situ para suelo

    .jumbotron.bg-white

        .subtitulo-guion
            h2 Introducción
        
        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IDapeEITOSA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.text-center xxxxxxxxxxxxXXXXXXXXXXXX Video Producción XXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxx
    
    br#parametros2
    
    .jumbotron.bg-white

        .subtitulo-guion
            h2 11.1 Parámetros físicos, químicos y biológicos del suelo
        
        .header-arrow.my-5
            h3.text-center Los parámetros físicos del suelo son:
        
        .sub-line
            h3 Densidad Aparente:
        
        p Es la relación existente entre la masa y el volumen de suelo, en este volumen está considerado todo el espacio poroso existente.  Es una característica que nos da a conocer como está el suelo con respecto a la compactación, la POROSIDAD y la disponibilidad de agua y oxígeno.

        p FENALCE- SENA- SAC (1997) Propiedades físicas químicas y biológicas de los suelos. Pág. 9.

        p Relación entre la densidad aparente y la porosidad total. (Duchaufour, 1965)

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Densidad aparente, G/CC]
                                td.table1
                                    p.text-center.text-white  #[b Porosidad total, %]
                        tbody
                            tr
                                td.table3
                                    p < 1.0
                                td.table3
                                    p > 63
                            tr
                                td.table2
                                    p 1.0 - 1.2
                                td.table2
                                    p 55 - 62
                            tr
                                td.table3
                                    p 1.2 - 1.4
                                td.table3
                                    p 47 - 54
                            tr
                                td.table2
                                    p 1.4 - 1.6
                                td.table2
                                    p 40 - 46
                            tr
                                td.table3
                                    p 1.6 - 1.8
                                td.table3
                                    p 32 - 39
                            tr
                                td.table2
                                    p > 1.0
                                td.table2
                                    p < 31
        
        .row.bg-color1.mt-5.rounded
            .col-12.p-4
                p #[b ¿Lo Sabía?]

                p ¡El suelo respira! La respiración del suelo es un indicador de la actividad biológica (por ej. de microbios y raíces). Esta actividad es tan importante para el ecosistema edáfico como lo son pulmones sanos para nosotros. Sin embargo, mayor actividad no es siempre mejor; puede indicar inestabilidad del sistema (por ej. después de la labranza).
        
        .sub-line
            h3 Densidad Real
        
        p Es la relación entre el volumen de las partículas de suelo y el volumen de estas sin considerar el espacio poroso.

        p Valores generalizados para la retención de humedad a 0.3 y 15 bar, según la clase de textura para diferentes suelos. (IGAC)

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Clase textual]
                                td(colspan="2").table1
                                    .row
                                        .col-12.text-center
                                            img.img-fluid(src="assets/images/pages/img88.png", style="max-width: 80%")
                        tbody
                            tr
                                td.table3
                                    p Arenosa
                                td.table3
                                    p 1 - 15
                                td.table3
                                    p 2 - 10
                            tr
                                td.table2
                                    p Franco arenosa
                                td.table2
                                    p 12 - 32
                                td.table2
                                    p 5 - 18
                            tr
                                td.table3
                                    p Franca
                                td.table3
                                    p 18 - 40
                                td.table3
                                    p 10 - 30
                            tr
                                td.table2
                                    p Franco arcillosa
                                td.table2
                                    p 20 - 50
                                td.table2
                                    p 12 - 35
                            tr
                                td.table3
                                    p Arcillosa
                                td.table3
                                    p 25 - 75
                                td.table3
                                    p 15 - 45
        
        .sub-line
            h3 Textura:

        p Es la distribución de las partículas del suelo, expresada en porcentaje, estas partículas son: La arena (2-0.02 mm), el limo (0.02 mm a 0.002 mm) y la arcilla menor a (0.002). Esta característica influye sobre la velocidad de infiltración del agua, la facilidad de preparación o laboreo del suelo, el drenaje.

 
        p Tabla textura de los suelos FENALCE- SENA- SAC (1997) Propiedades físicas químicas y biológicas de los suelos. Pág. 10.

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Clase textual]
                                td(colspan="2").table1
                                    .row
                                        .col-12.text-center
                                            img.img-fluid(src="assets/images/pages/img88.png", style="max-width: 80%")
                        tbody
                            tr
                                td.table3
                                    p Arenosa
                                td.table3
                                    p 1 - 15
                                td.table3
                                    p 2 - 10
                            tr
                                td.table2
                                    p Franco arenosa
                                td.table2
                                    p 12 - 32
                                td.table2
                                    p 5 - 18
                            tr
                                td.table3
                                    p Franca
                                td.table3
                                    p 18 - 40
                                td.table3
                                    p 10 - 30
                            tr
                                td.table2
                                    p Franco arcillosa
                                td.table2
                                    p 20 - 50
                                td.table2
                                    p 12 - 35
                            tr
                                td.table3
                                    p Arcillosa
                                td.table3
                                    p 25 - 75
                                td.table3
                                    p 15 - 45
        
        .sub-line
            h3 Estructura
        
        p Forma como se agregan las partículas del suelo, es la responsable de las relaciones de aireación, infiltración, humedad y temperatura del suelo. Se caracteriza por la estabilidad estructural, es decir la resistencia que los agregados del suelo hacen para no ser destruidos.

        p Rangos para interpretar la estabilidad estructural con relación al diámetro ponderado medio - DPM. (IGAC)

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b DPM (mm)]
                                td.table1
                                    p.text-center.text-white  #[b Interpretación]
                        tbody
                            tr
                                td.table3
                                    p < 0.5
                                td.table3
                                    p Inestable
                            tr
                                td.table2
                                    p 0.5 - 1.5
                                td.table2
                                    p Lig. Estable
                            tr
                                td.table3
                                    p 3.0 - 5.0
                                td.table3
                                    p Estable
                            tr
                                td.table2
                                    p > 0.5
                                td.table2
                                    p Muy estable
        
        .sub-line
            h3 Color

        p Es una de las características que guarda relación directa con la temperatura, la dinámica de los elementos y la movilidad del agua en el suelo, el contenido de la materia orgánica, la cantidad de organismos, la evolución de los suelos etc.

        p A continuación, se dan diferentes tablas para la interpretación de otras propiedades físicas.
        
        p FENALCE- SENA- SAC (1997) Propiedades físicas químicas y biológicas de los suelos. Pág. 11.

        .row.justify-content-center
            .col-12.col-md-5

                p.mt-4 #[b Rangos para interpretar la humedad equivalente. (IGAC)]

                .table-responsive.mt-4 
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Contenido de humedad %]
                                td.table1
                                    p.text-center.text-white  #[b Interpretación]
                        tbody
                            tr
                                td.table3
                                    p < 5
                                td.table3
                                    p Muy baja
                            tr
                                td.table2
                                    p 5 - 15
                                td.table2
                                    p Baja
                            tr
                                td.table3
                                    p 15 - 25
                                td.table3
                                    p Media
                            tr
                                td.table2
                                    p 25 - 35
                                td.table2
                                    p Alta
                            tr
                                td.table3
                                    p > 35
                                td.table3
                                    p Muy alta
            
            .col-12.col-md-5

                p.mt-4 #[b Clasificación de la velocidad de infiltración. (IGAC)]

                .table-responsive.mt-4 
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Infiltración Cm/h]
                                td.table1
                                    p.text-center.text-white  #[b Interpretación]
                        tbody
                            tr
                                td.table3
                                    p < 0.1
                                td.table3
                                    p Muy lenta
                            tr
                                td.table2
                                    p 0.1 - 0.5
                                td.table2
                                    p Lenta
                            tr
                                td.table3
                                    p 0.5 - 2.0
                                td.table3
                                    p Moderadamente lenta
                            tr
                                td.table2
                                    p 2.0 - 6.3
                                td.table2
                                    p Moderada
                            tr
                                td.table3
                                    p 6.3 - 12.7
                                td.table3
                                    p Moderadamente rápida
                            tr
                                td.table2
                                    p 12.7 - 25.4
                                td.table2
                                    p Rápida
                            tr
                                td.table3
                                    p > 25.4
                                td.table3
                                    p Muy rápida
            
            .col-12.col-md-8

                p.mt-4 #[b Clasificación de la conductividad hidráulica. (IGAC)]

                .table-responsive.mt-4 
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td(colspan="2").table1
                                    .row
                                        .col-12.text-center
                                            img.img-fluid(src="assets/images/pages/img89.png", style="max-width: 80%")
                                td.table1
                                    p.text-center.text-white  #[b Interpretación]
                        tbody
                            tr
                                td.table3
                                    p < 0.1
                                td.table3
                                    p < 0.03
                                td.table3
                                    p Muy lenta
                            tr
                                td.table2
                                    p 0.1 - 0.5
                                td.table2
                                    p 0.03 - 0.12
                                td.table2
                                    p Lenta
                            tr
                                td.table3
                                    p 0.5 - 1.6
                                td.table3
                                    p 0.12 - 0.38
                                td.table3
                                    p Moderadamente lenta
                            tr
                                td.table2
                                    p 1.6 - 5.0
                                td.table2
                                    p 0.38 - 1.20
                                td.table2
                                    p Moderada
                            tr
                                td.table3
                                    p 5.0 - 12.0
                                td.table3
                                    p 1.20 - 2.90
                                td.table3
                                    p Moderadamente rápida
                            tr
                                td.table2
                                    p 12.0 - 18.0
                                td.table2
                                    p 2.90 - 4.30
                                td.table2
                                    p Rápida
                            tr
                                td.table3
                                    p > 18.0
                                td.table3
                                    p > 4.30
                                td.table3
                                    p Muy rápida
        
        .header-arrow.my-5
            h3.text-center Los parámetros químicos son:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IDapeEITOSA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .header-arrow.my-5
            h3.text-center Los microorganismos del suelo se clasifican según su tamaño:
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img90.png", style="max-width: 100%")
        
        p.mt-4 Son organismos mayores a 1 cm de diámetro, es decir se pueden observar a simple vista y efectúan sobre el suelo cambios físicos y en algunos cambios químicos pueden ser vertebrados e invertebrados como: caracol, babosas, anélidos, lombriz de tierra, artrópodos como los crustáceos, insectos y milipedos.

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img91.png", style="max-width: 100%")

        p.mt-4 Son aquellos con diámetros que están entre doscientas micras y 1 cm, se encargan de producir en el suelo cambios físicos y químicos, los de mayor importancia son los nematodos.

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img92.png", style="max-width: 100%")
        
        p.mt-4 Son aquellos de diámetro entre 20 y 200 micras, son responsables de las transformaciones químicas correspondientes a los procesos de humificación y mineralización de la materia orgánica. Los de mayor importancia son los protistos. Las bacterias son los microorganismos más prolíferos en el suelo.

        p Tomado de FENALCE - SENA - SAC. (1997)

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_7_Propiedades_del_suelo.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Propiedades físicas, químicas, y biológicas de los suelos.
        
        p.mt-5 #[b Los parámetros físicos a determinar en campo]

        .header-arrow.my-5
            h3.text-center Los parámetros in situ a tomar en campo es de acuerdo a las necesidades de la toma, las más comunes son:
        
        p.mt-4 #[b Físicas]

        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img93.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b PH]
                p Se hace de dos maneras con pHmetro o con reactivos de reacción cromática y evaluación visual.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img94.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b Color]
                p El color se realiza con una tabla munsell.

        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img95.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b Conductividad]
                p Con un Conductímetro, las muestras de suelo para conductividad eléctrica (CE) son tomadas a una profundidad de 0 a 3 pulgadas (7.62 cm). Muestras compuestas pueden ser recogidas, a lo largo del lote, y se pueden tomar dos submuestras para análisis.

        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img96.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b Resistencia a la Penetración]
                p Se hace con un Penetrologger este es un instrumento muy versátil para mediciones in situ de la resistencia del suelo a la penetración.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img97.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b Infiltración]
                p Se puede hace con un infiltrómetro digital o con anillos de infiltración.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Respiración del suelo]
                p Para un muestreo eficiente, el ensayo de respiración se realiza primero, seguido por el ensayo de infiltración, sin sacar el anillo de 6 pulgadas. El mejor momento para realizar el ensayo de respiración del suelo es cuando el suelo se halla a capacidad de campo (cantidad de agua que el suelo puede retener después de ser drenado). Alternativamente la respiración del suelo puede ser medida antes y después de medir la infiltración o de la humectación del suelo (6 a 24 horas luego de la humectación).
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Densidad Aparente]
                p La medida de la densidad aparente debe ser realizada en la superficie del suelo y/o en una zona compactada (piso de arado, etc.), si es que está presente. Mida la densidad aparente cerca (entre 3,28 y 6,56 cm) del sitio de los ensayos de respiración e infiltración. Para obtener una medida más representativa de la densidad aparente del área, se pueden tomar muestras adicionales.
                p Tomado de: USDA (2000) Guía para la evaluación de la calidad y salud del suelo. Pág. 9.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Temperatura]
                p Se toma la temperatura con un termómetro de suelos.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Humedad volumétrica]
                p Se realiza con sonda para la determinación de humedad.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Textura y estructura]
                p Observe la estructura del suelo en la muestra de suelo y la textura por tacto, La estructura del suelo está dada por la manera en que las partículas del suelo se agrupan en configuraciones estables, o agregados. Los tres grandes tipos de estructura edáfica son granular, en bloques y laminar.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12.col-md-4.text-center.p-2
                img.img-fluid(src="assets/images/pages/img98.png", style="max-width: 80%")
            .col-12.col-md-8
                p #[b Análisis químico:]
                p Se usa el Kit para determinar elementos mayores y/o menores en campo como:
                ul
                    li Nitrógeno amoniacal
                    li.mt-2 Nitritos.
                    li.mt-2 Cloruros.
                    li.mt-2 Calcio.
                    li.mt-2 Magnesio.
                    li.mt-2 Manganeso.
                    li.mt-2 Fosforo.
                    li.mt-2 Potasio.
                    li.mt-2 Oligoelementos asimilables.
        
        .row.align-items-center.bg-color2.p-4.rounded.mt-4
            .col-12
                p #[b Para análisis biológico]
                p Conteo de lombrices.
        
        .row.bg-color1.mt-5.rounded
            .col-12.p-4
                p #[b ¡Estimado Aprendiz!]

                p Para profundizar en el tema lo invitamos a consultar en material complementario - Práctica de Toma de muestras de agua y análisis in situ.

                .list.align-items-center.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p.mb-0 SENA (2020) Muestreo de suelos para análisis microbiológico.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p.mb-0 Ministerio de agricultura, pesca y alimentación (1988) Métodos rápidos de análisis de suelos.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p.mb-0 CAR (2018) Metodología para la toma de muestras en la evaluación de la degradación de suelos “IN SITU” y diagnóstico rápido.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p.mb-0 SENA (2013) Manual de prácticas de campo y del laboratorio de suelos.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p.mb-0 USDA (1999) Guía para la evaluación de la calidad y salud del suelo.