.container#introduccion

    .header-ecored
        h1 2. Introducción a la toma de muestras de agua y suelo

    .jumbotron.bg-white.mt-5

        p El objetivo del muestreo es obtener una parte representativa del material bajo estudio (cuerpo de agua, efluente industrial, agua residual, suelos, emisiones, etc.) para la cual se analizarán las variables fisicoquímicas y microbiológicas de interés, para esto se requiere que el estudiante identifique la importancia de elaborar el plan de muestreo y protocolos de muestreo específicos según factor ambiental evaluado.

        .row.align-items-center
            .col-12.col-md-6.text-center
                img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 50%")
            .col-12.col-md-6.bg-color1.p-4.rounded
                p En algunos casos, el objetivo del muestreo es demostrar que se cumplen las normas especificadas por la legislación ambiental como actividades de prevención y control ambiental y otros casos como medida de corrección y vigilancia cuando se ha ocasionado un impacto ambiental significativo como la contaminación ambiental en un ecosistema.
        
        .row.align-items-center.mt-4
            .col-12.col-md-6.mt-2.bg-color1.p-4.rounded
                p Aunque probablemente no sea para siempre, hoy en día podemos decir que tal vez todos nosotros hemos disfrutado de un entorno natural fascinante, con algún río, lago, mar, de aguas cristalinas donde podemos con facilidad mirar hasta lo más profundo; donde podemos respirar con total tranquilidad, eso resulta fascinante ¿no es cierto?
            .col-12.col-md-6.text-right.p-4
                img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 50%")
        
        .row.align-items-center
            .col-12.col-md-6.text-left.p-4
                img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 50%")
            .col-12.col-md-6.bg-color1.p-4.rounded
                p De otra parte y tal vez con mayor frecuencia, también encontramos o pasamos por lugares de aguas terrosas en donde no se puede ver ni la propia palma de la mano sumergida a la distancia de un brazo y donde los olores son insoportables y te preocupa cómo están quedando tus zapatos de contaminados.