.container#pasos

    .header-ecored
        h1 3. Pasos y normativa de la toma de muestras

    br#bases2

    .jumbotron.bg-white

        .subtitulo-guion
            h2 Pasos de la toma de muestras

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
        
        p.mt-5 Esto es así porque dependiendo del muestreo, el valor estadístico obtenido para cada contaminante reflejará con mayor o menor precisión el valor real existente en el sitio. Por tanto, la selección del procedimiento de muestreo es crucial, y de este, depende en gran medida que las decisiones tomadas sobre un medio sea agua, suelo o aire potencialmente alterado en su calidad, sean eficaces para abordar y solucionar su problemática.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12

                p #[b ¡Estimado aprendiz!]

                p En esta sección de la Unidad Temática 2 vamos a ver cuáles son las principales etapas que se realizan en la toma de muestras que se hacen en campo, las cuales garantizan la trazabilidad y custodia de la muestra en este proceso.
        
        .header-arrow.my-5
            h3.text-center Las etapas de toma de muestras en campo son:
        
        .list.align-items-center.mt-4
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p.mb-0 Identificación del sitio de muestreo.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p.mb-0 Realizar alistamiento de los equipos, materiales e insumos para la toma.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 3
            .list__txt
                p.mb-0 Realizar un plan de muestreo.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 4
            .list__txt
                p.mb-0 Toma de la muestra.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 5
            .list__txt
                p.mb-0 Preservación y almacenamiento temporal.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 6
            .list__txt
                p.mb-0 Transporte.
        
        p.mt-5 En este tema se revisarán las Etapas 3, 4, 5 y 6 como realizar el plan de muestreo, la toma de la muestra, preservación y almacenamiento temporal, transporte hasta la recepción del laboratorio ambiental y análisis in situ requeridos.

        p #[b Normatividad de la toma de muestras.]

        p Para el proceso de toma de muestras se tomará como referencia las Normas técnicas colombianas del ICONTEC: técnicas de muestreo, toma de muestras, preservación y manejo para el componente agua (NTC 5667), suelo (NTC 4113) ubicadas en las bases de datos de la biblioteca virtual del SENA.

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="http://biblioteca.sena.edu.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Biblioteca SENA