.container#conceptos

    .header-ecored
        h1 4. Conceptos básicos de unidades de medida

    .jumbotron.bg-white

        .subtitulo-guion.mt-5
            h2 Sistemas de unidades

        p Un sistema de unidades especifica las unidades de las cantidades fundamentales de longitud, masa, tiempo y fuerza. (Mott, 2006. Pag. 4).
    
    br#sistema

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.1 Sistema internacional de unidades
        
        p La referencia estándar para unidades de medida a nivel mundial es el Sistema Internacional de Unidades (SI) (Mott, 2006, p. 4). Nava et al (2001) indica que este cuenta con siete unidades bases para las magnitudes fundamentales como se muestra en la siguiente tabla:

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Magnitud]
                                td.table1
                                    p.text-center.text-white  #[b Unidad]
                                td.table1
                                    p.text-center.text-white  #[b Simbolo]
                        tbody
                            tr
                                td.table3
                                    p Longitud
                                td.table3
                                    p Metro
                                td.table3
                                    p m
                            tr
                                td.table2
                                    p Masa
                                td.table2
                                    p Kilogramo
                                td.table2
                                    p kg
                            tr
                                td.table3
                                    p Tiempo
                                td.table3
                                    p Segundo
                                td.table3
                                    p s
                            tr
                                td.table2
                                    p Corriente eléctrica
                                td.table2
                                    p Ampere
                                td.table2
                                    p A
                            tr
                                td.table3
                                    p Temperatura termodinámica
                                td.table3
                                    p Kelvin
                                td.table3
                                    p K
                            tr
                                td.table2
                                    p Intensidad luminosa
                                td.table2
                                    p Candela
                                td.table2
                                    p Cd
                            tr
                                td.table3
                                    p Cantidad de sustancia
                                td.table3
                                    p Mol
                                td.table3
                                    p Mol
        
        p.text-center.mt-4 #[b Fuente:] Nava et al. 2001. Pag. 20.
    
    br#prefijos

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.2 Prefijos del sistema internacional de unidades
        
        p Los prefijos son representados por símbolos que se anteponen a la unidad, y representan un factor por el que debe ser multiplicada la cantidad. En la siguiente tabla se presentan algunos de los prefijos más usados en nuestro campo de estudio.

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Prefijo]
                                td.table1
                                    p.text-center.text-white  #[b Simbolo]
                                td.table1
                                    p.text-center.text-white  #[b Factor]
                                td.table1
                                    p.text-center.text-white  #[b Equivalente]
                        tbody
                            tr
                                td.table3
                                    p Giga
                                td.table3
                                    p G
                                td.table3
                                    p 10
                                td.table3
                                    p 1 000 000 000
                            tr
                                td.table2
                                    p Mega
                                td.table2
                                    p M
                                td.table2
                                    p 10
                                td.table2
                                    p 1 000 000
                            tr
                                td.table3
                                    p Kilo
                                td.table3
                                    p K
                                td.table3
                                    p 10
                                td.table3
                                    p 1 000
                            tr
                                td.table2
                                    p Mili
                                td.table2
                                    p m
                                td.table2
                                    p 10
                                td.table2
                                    p 0.001
                            tr
                                td.table2
                                    p Micro
                                td.table2
                                    p µ
                                td.table2
                                    p 10
                                td.table2
                                    p 0.000 001
                            tr
                                td.table2
                                    p Nano
                                td.table2
                                    p n
                                td.table2
                                    p 10
                                td.table2
                                    p 0.000 000 001
        
        p.text-center.mt-4 #[b Fuente:] modificado de Nava et al. 2001. Pag. 35.

        .row.justify-content-center
            .col-auto.bg-color2.p-4.mt-5.rounded

                p #[b Se emplean para facilitar la expresión de cantidades.]

                p Ejemplo 1: 11500 m=11,5*10^3 m=11,5 km
                
                p Ejemplo 2: 0,00528 g=5,28*10^(-3) g=5,28 mg

    br#uso

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.3 Uso de otras unidades
        
        p Existen otras unidades que se usan con bastante frecuencia y que aun sin hacer parte del Sistema Internacional de Unidades, es posible emplearlas en conjunto. entre estas encontramos:

        .row.justify-content-center
            .col-auto.bg-color2.p-4.mt-5.rounded

                p El minuto (m): 1 m = 60 s
                
                p La hora (h): 1h = 3600 s

                p El día (d): 1 d = 24 h = 86400 s

                p El litro (L,l): 1 L = 1 dm3 = 10-3 m3
                
                p La tonelada (t): 1 t = 103 kg
    
    br#unidades

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.4 Unidades consistentes
        
        p El desarrollo de los protocolos y procedimientos en este y diferentes campos de estudio involucra el uso de ecuaciones, cuyos elementos y resultados deben ser expresados empleando las unidades correctas. Por lo que, si las unidades en la ecuación no son consistentes, las respuestas serán erróneas. (Mott, 2006, Pag. 9)

        p Por lo anterior para realizar procedimientos de cancelación de unidades Mott (2006) propone los siguientes pasos (Pag. 9 y 10):


        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p.mb-0 Despejar de la ecuación el término que se desea.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p.mb-0 Definir las unidades que se requieren para el resultado.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 3
            .list__txt
                p.mb-0 Sustituir en la ecuación los valores con sus respectivas unidades.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 4
            .list__txt
                p.mb-0 Cancelar las unidades de los términos que parezcan en el numerador y el denominador.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 5
            .list__txt
                p.mb-0 Utilizar los factores de conversión para eliminar las unidades no deseadas, y obtener las que se definieron previamente en el paso dos.
        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 6
            .list__txt
                p.mb-0 Realizar el cálculo.
        
        .row.justify-content-center
            .col-10.bg-color2.p-4.mt-5.rounded

                p #[b Ejemplo:] se necesita conocer el tiempo que tardará en llenarse un tanque de 1000 L al usar una manguera por la que fluye un caudal de 0.4 L/s.

                p Se emplea la ecuación Q = v / t

                p donde Q es caudal, v es volumen y t es tiempo. Luego se aplican los pasos anteriormente propuestos:

                p #[b 1.] Se despeja t de la ecuación.

                p.text-center t = v / Q

                p #[b 2.] Proponemos las unidades del resultado, para este caso pueden ser minutos, ya que el ejercicio no especifica las unidades finales.

                p #[b 3.] Se sustituye en la ecuación:

                .row.align-items-center.justify-content-center.my-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")
                
                p simplificando la fracción se obtiene:

                .row.align-items-center.justify-content-center.my-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")
                
                p #[b 4.] Se cancelan las unidades y aplicamos los factores de conversión (paso 5).

                .row.align-items-center.justify-content-center.my-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
                
                p #[b 5.] Aplicamos los factores de conversión (y cancelación de unidades)

                .row.align-items-center.justify-content-center.my-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")
                
                p #[b 6.] Se realiza el cálculo para obtener el resultado.

                .row.align-items-center.justify-content-center.my-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%")
        
        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b ¡No olvides!]

                p Repasar las unidades de medida y la técnica de conversiones de unidades, porque lo necesitaras cuando uses equipos de medición y requieras una unidad en específico o convertir unidades según se requiera.
        
        p.mt-5 Visualice el video Daniel Carreón (2020) UNIDADES DE MEDIDA Super fácil - Para principiantes, de forma que pueda repasar la tabla de unidades.

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4e-dsOgOIrA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-5 Para ampliar la información visualice la Tabla de conversión de unidades:

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_1_Tabla_conversion_unidades.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Tablas de conversión de unidades