.container#capacitacion

    .header-ecored
        h1 6. Capacitación del personal y seguridad y salud en el trabajo

    .jumbotron.bg-white
        
        p Uno de los ejes estratégicos para realizar un proceso de toma y tratamiento de muestras acorde a la normatividad es el recurso humano que realizará esa función, el cual debe contar con las habilidades y competencias necesarias, estas mismas son definidas dentro de un instrumento de planeación denominado plan de capacitación.
    
    br#formacion

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.1 Formación y evaluación
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.my-5.rounded
            .col-12

                p #[b ¡Sabías que!]
                
                p Para el personal de toma de muestras de agua es obligatorio estar certificado en competencias laborales en toma de muestras de agua.
        
        p La capacitación del personal de toma de muestras es tan importante que cuenta con un marco normativo que lo exige como las resoluciones 1073 de 2003 y  1570 de 2004 del MAVDT, en cual indica que este personal, debe ser formado, evaluado y certificado, como mínimo, en las Normas de Competencia Laboral código 280201034 “Realizar los procedimientos de muestreo del agua de acuerdo con los protocolos de la entidad”; código 280201001 “Asegurar las condiciones de salud y seguridad en el puesto de trabajo” y código 280201002 “Generar información para apoyar la toma de decisiones empresariales”.

        .row.align-items-center.justify-content-center.my-4
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 100%")
        
        .sub-line
            h3 Para el personal de toma de muestras de suelo
        
        p La capacitación del personal de toma de muestras en suelos también requiere capacitación en el tema de muestreo en suelos, aunque no existe todavía norma de competencia laboral que obligue la normativa.

        p Para cualquiera de los dos personales de toma de muestra sea en agua y/o suelo es importante que toda organización defina un plan de capacitación de su personal en temas como:

        .list.align-items-start.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Elementos personales de protección para la toma y procesamiento de muestras.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Equipos e instrumentos de laboratorio.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Riesgos y amenazas en campo y en laboratorio.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Tipos, técnicas y métodos de muestreo.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Normatividad aplicable, entre otros.
        
        p Lo anterior no solamente va a significar una mejora en su calidad y expectativas laborales, sino que se van a minimizar los errores involucrados en el proceso de toma, preservación y transporte de muestras.
    
    br#seguridad

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.2 Seguridad y salud en el trabajo de muestreo
        
        p De acuerdo a la Sociedad americana de química (2003), en su publicación seguridad en los laboratorios químicos académicos, prevenir accidentes de cualquier tipo en un laboratorio, es responsabilidad de todos los que usan este espacio de trabajo, por lo cual es necesario siempre una actitud cooperativa activa, es importante recordar que los accidentes que se pueden dar cuando se trabaja con insumos químicos bien sea dentro de un laboratorio o en pruebas de campo, suelen ser asociadas a:

        .row.align-items-center
            .col-auto.text-center.p-4
                img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
            .col
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p Actividades de indiferencia.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p No utilizar el sentido común.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p No seguir instrucciones y cometer errores.
        
        p.my-4 Cuando se menciona tomar un “Rol activo” hace referencia a seguir siempre las siguientes recomendaciones:

        .row.align-items-center
            .col-auto.text-center.p-4
                img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 100%")
            .col
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p Seguir las reglas de seguridad.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p No jugar bromas mientras realiza actividades de toma de muestras o de laboratorio.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p Familiarizarse con los equipos de seguridad.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p Siempre indagar antes sobre los peligrosos si va a manejar sustancias químicas (Pag. 3)
            
        .sub-line
            h3 Actividad de toma de muestras
        
        p Para realizar la actividad de toma de muestras se debe garantizar que las personas cuenten con unos implementos de seguridad mínimos.

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img25.png").img-fluid
                        p.card__copy #[b Cofia:] Si tiene el cabello largo, manténgalo recogido durante el desarrollo de la práctica. Use la cofia si el instructor lo considera necesario.

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img26.png").img-fluid
                        p.card__copy #[b Casco:] en campo es necesario como prevención.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img27.png").img-fluid
                        p.card__copy #[b Protección de ojos:] es obligatorio que todo el personal que permanezca en el laboratorio use permanentemente las gafas de seguridad, aun cuando no estén realizando prácticas. Las personas que utilizan gafas de manera permanente deben disponer de unas gafas de seguridad suplementarias, No utilice lentes de contacto dentro del laboratorio, ya que su uso facilita la acumulación de sustancias tóxicas en los ojos. Los lentes blandos absorben los vapores de sustancias tóxicas, ocasionando la irritación, además de interferir con los procedimientos de lavado de emergencia (Sociedad Americana de química, 2003, Pag. 3).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img28.png").img-fluid
                        p.card__copy #[b Mascarilla o Tapabocas:] cuando la práctica de laboratorio implique la manipulación de compuestos volátiles, tóxicos, nocivos y/o irritantes, es indispensable emplear equipos de protección respiratoria, adaptados y homologados para la sustancia en cuestión. También deben utilizarse en caso de fugas y derrames de las sustancias anteriores, dada la gran concentración ambiental que resulta de los mismos (INS, 2011, Pag. 40).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img29.png").img-fluid
                        p.card__copy #[b Instrumental de campo o vestimenta (Guardapolvo blanco):] primero se debe aclarar que la ropa utilizada en laboratorio o en campo, debe proteger tanto de salpicaduras como de derrames, preferiblemente un guardapolvo blanco, si es para uno de cuencas de agua contaminadas este debe ser impermeable (Sociedad Americana de química, 2003, Pag. 4).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img30.png").img-fluid
                        p.card__copy #[b Bata de laboratorio:] si se usa la bata las características más aconsejables son: Material: algodón, dril o gabardina, Color: blanco, Manga: larga con puño resortado, Largo (extensión): mínimo hasta el muslo (3/4), Tipo de cierre: de abotonar a presión (INS, 2011, Pag. 40).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img31.png").img-fluid
                        p.card__copy #[b Zapatos:] en el caso de los laboratorios se debe usar zapatos totalmente cerrados y que no sean de cuero o cuero sintético, no se podrá usar sandalias o cualquier zapato que deje piel al descubierto ni con tacones (INS, 2011, Pag. 40).
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img32.png").img-fluid
                        p.card__copy #[b Guantes de nitrilo, de neopreno, gruesos y delgados:] cualquier manipulación de sustancias corrosivas, irritantes, de elevada toxicidad o de elevado poder de penetración a través de la piel, debe ser llevada a cabo empleando guantes adecuados y limpios. Finalizada la práctica, lave los guantes con abundante agua y jabón. Haga lo propio con sus manos. (Sociedad Americana de química, 2003, Pag. 5)
    
    br#peligros

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.3 Peligros químicos
        
        .row.align-items-center.justify-content-center.my-4
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%")
        
        p Las sustancias químicas pueden causar daño si no son manipuladas de forma adecuada y según protocolos, lo más importante por resaltar es que estas sustancias tienen diferentes características (tóxicas, inflamables, corrosivas y reactivas) y debe reconocerlas y saber cómo reaccionar en caso de accidentes.

        p Universidad Industrial de Santander (s,f) Protocolo de seguridad química Pag. 26.

        p Sin embargo, existen sustancias que cuentan con más de un peligro, por lo cual se considera que el grado de peligrosidad de las sustancias químicas puede variar, por ello siempre trabajar de forma segura es la manera correcta de desarrollar actividades con estos implementos.

        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b Para tener en cuenta]

                ul
                    li Siempre lea detenidamente las etiquetas de las sustancias químicas antes de usarlas.
                    li.mt-2 Siga las recomendaciones dadas en las hojas de seguridad de los productos.
                    li.mt-2 Siempre siga las recomendaciones de su instructor. (Sociedad Americana de química, 2003, Pag. 10)
        
        p.mt-5 Lo invitamos a ver los siguientes videos para que conozca los símbolos usados en los químicos para identificar sus riesgos:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yufEs67Q4mQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3YgFdAOl4jM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Jkmq6PRsqgI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GS8TfFFym74', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')