.container#reconocimiento

    .header-ecored
        h1 7. Reconocimiento de material de laboratorio para análisis físicos químicos y microbiológico de las muestras

    .jumbotron.bg-white

        .subtitulo-guion
            h2 Plan de muestreo

        p En general se recomienda que el plan de muestreo especifique como mínimo los siguientes ítems según la ICONT.

        .header-arrow.my-5
            h3.text-center El plan de muestreo es un instrumento de planeación en el cual se deja todo consolidado sobre el muestreo a realizar.
        
        .row.align-items-center.justify-content-center.mt-5
            .col-auto.text-center
                img.img-fluid(src="assets/images/pages/img34.png", style="max-width: 100%")
            .col-6
                ul
                    li El objetivo.
                    li.mt-2 El sitio de toma de muestra.
                    li.mt-2 El método y técnica a usar.
                    li.mt-2 Los parámetros a medir.
                    li.mt-2 Los instrumentos y equipos requeridos.
                    li.mt-2 El personal y las competencias que debe manejar.
                    li.mt-2 Los elementos de seguridad y salud en el trabajo.
                    li.mt-2 Los formatos requeridos para el registro de información.

        p.mt-4 Para ampliar la información puede consultar el Manual de instrucciones para la toma, prevención y transporte de muestreo de agua para consumo humano para análisis de laboratorio del Instituto Nacional de Salud.

        p También puede apoyarse de la ISO 5667-1 Gestión ambiental. Calidad del agua. Muestreo. Directrices para el diseño de programas de muestreo, que se encuentra en la base de datos de la biblioteca SENA.
    
    br#tipos

    .jumbotron.bg-white

        .subtitulo-guion
            h2 7.1 Tipos y tecnicas de muestreo

        .sub-line
            h3 Tipos de muestras

        p Antes de iniciar el muestreo, es elemental tener claramente definido la forma como serán tomadas las muestras para poder realizar un trabajo de campo; Según el Instituto Colombiano de Normas Técnicas y Certificación [ICONTEC] (1995) en la norma técnica colombiana [NTC] 5667-2 Técnicas generales de muestreo dentro de los tipos de muestras se pueden encontrar: sencillas, compuestas, periódicas, continuas y de serie (Pag. 2-8).
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img35.png").img-fluid
                        p.card__copy #[b Muestras simples]

                        p.mt-4 Este tipo de muestra se toma en un momento y lugar determinado. Es aplicable en los casos que se sabe, la composición del agua no varía significativamente en el tiempo o lugar, como lo son usualmente para caracterización fisicoquímica de aguas naturales. En este caso tomar diferentes muestras puntuales puede ser útil para describir el comportamiento a través del espacio y tiempo (NTC 5667-2, 1995).

                        p Este tipo de muestra simple se usa en el muestreo de grifos

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img36.png").img-fluid
                        p.card__copy #[b Muestreos en el grifo]

                        p.mt-4 Este tipo de muestreo se aplica específicamente para las muestras de agua potable de llave. Estas pueden ser tomadas en plantas de tratamiento y tanques de almacenamiento, agua en la red de distribución, agua del grifo del consumidor, agua para consumo, agua de manantiales o pozos que cuenten con dispositivos de tomas de muestra instalados permanentemente.

                        p Cuando se va a realizar la toma de estas muestras se debe hacer una previa desinfección del grifo, excepto para la toma de muestras de agua de consumo directo, ya que la calidad microbiológica de esta agua dependerá tanto de los microorganismos presentes en el agua, como de los presentes en los accesorios y el grifo.
        
        p.mt-5 #[b Técnica de llenado para muestreo en el grifo]

        p Esta técnica debe seguir los protocolos establecidos, así como lo indica el Instituto Colombiano de Normas Técnicas y certificación [ICONTEC] (2015) en la norma técnica colombiana [NTC] 6151, Calidad del agua.

        p Pasos a tener en cuenta en el Muestreo para análisis microbiológico:

        .list.align-items-center.mt-4
            .list__item
                .list__item__bulletNumber
                    span A
            .list__txt
                p.mb-0 Se deben retirar todos los dispositivos y elementos colocados en el dispositivo de muestreo, en el caso de hacer muestreo para agua de consumo, este paso se debe omitir.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span B
            .list__txt
                p.mb-0 La persona que tome la muestra deberá mantener las técnicas asépticas para prevenir la contaminación de la muestra, para ello deberá lavarse las manos, ponerse tapabocas y usar guantes estériles.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span C
            .list__txt
                p.mb-0 Se debe limpiar el grifo o dispositivo con un paño húmedo para retirar la suciedad visible.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span D
            .list__txt
                p.mb-0 Una vez hecho el procedimiento de limpieza se debe flamear el grifo con un mechero de alcohol. Esto solo se debe hacer si el grifo y las tuberías anexas son metálicas. En caso de que el material del grifo y tubería cercana no resistan el flameado, el grifo deberá sumergir en una solución desinfectante (hipoclorito, etanol o isopropanol) finalmente enjuague el grifo para anular la influencia del desinfectante en el grifo.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span E
            .list__txt
                p.mb-0 Recuerde que el paso de desinfección no se debe realizar para el muestreo de agua para consumo.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span F
            .list__txt
                p.mb-0 Una vez limpio y desinfectado el grifo se debe dejar drenar el agua por 1 a 3 minuto hasta que el agua en las tuberías haya sido renovada y la temperatura se haya estabilizado.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span G
            .list__txt
                p.mb-0 Para hacer el llenado del recipiente, de debe retirar el protector que está cubriendo la tapa del recipiente, destapar el frasco y hacer el llenado manteniendo la esterilidad de la tapa, para ello puede colocar la tapa en el papel estéril que estaba cubriendo el recipiente.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span H
            .list__txt
                p.mb-0 Llenar directamente el recipiente estéril hasta dejar un espacio de aire que facilitará el mezclado, una vez se obtiene el volumen requerido se tapa inmediatamente el recipiente sin tocar la boca del frasco o el interior de la tapa.
        .list.align-items-center.mt-2
            .list__item
                .list__item__bulletNumber
                    span I
            .list__txt
                p.mb-0 Se debe rotular asegurar que la información del rótulo corresponda al punto, fecha y hora en la que se realizó el muestreo.
        
        p.mt-5 A continación lo invitamos a ver el siguiente video:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HSegx-aVm6c', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img37.png").img-fluid
                        p.card__copy #[b Muestras compuestas]

                        p.mt-4 De acuerdo al Instituto de investigaciones marinas y costeras [INVEMAR], en el Manual de técnicas analíticas para la determinación de parámetros fisicoquímicos y contaminantes marinos, describe estas muestras como las que son usadas en su mayoría para vertimientos domésticos e industriales:

                        p Debido a la variación horaria de su caudal, por tal razón son muy utilizadas en el monitoreo de ríos, vertimientos o procesos industriales en línea. Su toma se realiza en un mismo punto en intervalos de tiempo previamente definidos, y el volumen de cada muestra parcial puede ser constante o variar en función del caudal.  Para los casos en que se requiere variar el volumen en cada toma, se recolectan muestras parciales (alícuotas) ej.: cada 2 o 3 horas, cuyo volumen se obtiene según la siguiente relación: 
                        
                        .row
                            .col-12.text-center
                                img(src="assets/images/pages/img38.png").img-fluid
        
        p.mt-4 En algunos estudios de calidad ambiental marina es necesario el monitoreo de afluentes con el fin de conocer las descargas y el volumen de contaminantes que llegan al mar, por tal motivo es necesario realizar muestreos compuestos para lograr la correcta caracterización de dichos afluentes (que pueden ser ríos o descargas de aguas residuales). Es importante resaltar que este tipo de muestra genera resultados de concentraciones promedio. (2013, Pag. 13)

        p A continuación visualice el siguiente video:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/za9o1d0-KJQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img39.png").img-fluid
                        p.card__copy #[b Muestras integradas]

                        p.mt-4 Este tipo de muestra consiste en la recolección de muestras simples en diferentes puntos de manera simultánea que posteriormente son mezcladas. En caso de presentarse variaciones de caudal en los puntos de muestreo, se debe tener en cuenta para que el volumen aportado sea proporcional al caudal medido durante la toma de la muestra. (Instituto de hidrología, meteorología y estudios ambientales [IDEAM], 2017).

        p A continuación visualice el siguiente video:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/UOBmZqSftJY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img40.png").img-fluid
                        p.card__copy #[b Muestras en serie]

                        p.mt-4 Dentro de las muestras en serie se distinguen dos tipos, de perfil profundo y de área:

                        ul(type="A")
                            li #[b De perfil profundo:] muy aplicables en oceanografía cuando el objetivo es conocer la variación vertical de un parámetro, por ejemplo, definir la posición de la capa termohalina, de la picnoclina, etc.
                            li.mt-2 #[b De perfil de área:] serie de muestras de agua tomadas a una profundidad en particular, de una masa de agua en diversas locaciones; muy utilizadas para definir distribuciones espaciales por capas.” (INVEMAR, 2013, p. 14)
        
        p.mt-4 La norma NTC ISO 5567-2 en el numeral 4 indica los tipos de muestras según procedimientos estandarizados, consultarla en la base de datos del SENA.

        .sub-line
            h3 Técnicas de muestreo

        .row.align-items-star.p-4.bg-color1.mx-0.rounded.mt-5
            .col-auto.text-center
                img(src="assets/images/pages/img41.png").img-fluid
            .col
                p #[b Muestre manual]

                p.mt-4 Teniendo en cuenta las indicaciones del Instituto nacional de salud [INS] en su manual de instrucciones para la toma, preservación y transporte de muestras de agua de consumo humano para análisis de laboratorio: 

                p El muestreo manual se realiza cuando se tienen sitios de fácil acceso o aquellos que por medio de ciertas adaptaciones puedan facilitar la toma de muestras. La ventaja de este tipo de muestreo es permitir al encargado de tomar la   muestra, observar los cambios en las características del agua en cuanto a sustancias flotantes, color, olor, aumento o disminución de caudales, entre otros; sin embargo este sólo es aceptable para los criterios de control y vigilancia, si la muestra es representativa de la calidad del agua del sitio de muestreo particular, motivo por el cual se requiere establecer que la información obtenida de estas muestras puntuales tomadas en un sitio y tiempo dados es única para ese lugar y tiempo seleccionado. (2011, p. 21)

        .row.align-items-star.p-4.bg-color1.mx-0.rounded.mt-4
            .col
                p #[b Muestreo automático]

                p.mt-4 Para aquellos lugares de difícil acceso se recomiendan los muestreadores automáticos, ya que cuentan con más precisión en la toma de la muestra, aun cuando su mayor desventaja sea el montaje y calibración del equipo, pues su aplicación implica la instalación de equipos (antenas, paneles solares, etc.) y herramientas (licencias de trasmisión, software) que elevan el costo, convirtiéndose en un factor limitante para la implementación de este tipo de muestreo. Entre los equipos automáticos más representativos para determinar la calidad del agua destinada para consumo humano, se destacan los: muestreadores secuenciales automáticos para proveer muestras compuestas en un período extenso de tiempo, Sistemas de monitoreo en línea (sistema SAMOS para detección de pesticidas, y nuevos sensores), Sistemas biológicos de alarma temprana que alerten si hay contaminación en la muestra y muestreadores pasivos, así llamados porque simulan captación biológica. (INS, 2011, Pag. 21-22)
            .col-auto.text-center
                img(src="assets/images/pages/img42.png").img-fluid
        
        .row.align-items-star.p-4.bg-color1.mx-0.rounded.mt-4
            .col-auto.text-center
                img(src="assets/images/pages/img43.png").img-fluid
            .col
                p #[b Muestreo mixto]

                p.mt-4 Para el INS (2007) se pueden poner en marcha programas de muestreo que involucren la utilización de los dos tipos de muestreo mencionados anteriormente (muestreo mixto), convirtiendo el monitoreo en un sistema integrado que permite la verificación manual de los resultados obtenidos de forma automática. Dicha verificación es realizada aleatoriamente, de tal manera que se pueda realizar la calibración, ajuste y mantenimiento de los equipos automáticos (p.22).

                p Las técnicas del muestreo de agua para análisis microbiológicos básicamente incluyen procedimientos para prevenir su contaminación durante el llenado de los recipientes por microorganismos presentes en el exterior de los grifos, accesorios, en el ambiente o en el operario. Las técnicas de llenado de los recipientes se pueden dividir en dos: muestreo en el grifo o muestreo por inmersión.

        .row.align-items-star.p-4.bg-color1.mx-0.rounded.mt-4
            .col
                p #[b Muestreo por irmersión]

                p.mt-4 El muestreo por inmersión se realiza cuando se requiere tomar muestras de profundidad por ejemplo en el caso de muestreos de tanques de almacenamiento que no cuenten con dispositivos de muestras o en el agua de manantiales o pozos, piscinas.

                p En estos casos la muestra se debe tomar con un recipiente estéril en su interior y exterior. Tan pronto se va a tomar la muestra se debe retirar la envoltura protectora del recipiente y con la ayuda de una vara de muestreo se lleva a cabo la toma de muestra.

                p En el caso de toma de las piscinas, la muestra se debe tomar de -10 a -20 cm de profundidad y el recipiente se introduce horizontalmente para evitar la pérdida de tiosulfato. Para balnearios se hace de manera similar haciendo la toma a -20 a -30.

                p En el caso de pozos o manantiales sin dispositivos de muestreo, la toma se debe hacer con bombas o dispositivos sumergibles estériles.

                p Para el muestreo de aguas profundas en el mar, lagos o ríos e incluso de aguas residuales que serán analizadas microbiológicamente, es recomendable usar dispositivos especializados como el muestreador ZoBell J-Z (INS, 2011).

                p Para ampliar la información acerca de los procedimientos de muestreo para el análisis de la calidad microbiológica del agua se recomienda consultar la norma técnica colombiana NTC- ISO 6151.

                p Para ampliar información acerca de la toma de muestras en aguas marinas se recomienda consultar la NTC-ISO 5667-9 sobre Gestión Ambiental. Calidad del agua. Guía para el muestreo de aguas marinas.
            .col-auto.text-center
                img(src="assets/images/pages/img44.png").img-fluid
        
        .row.align-items-star.p-4.bg-color1.mx-0.rounded.mt-4
            .col-auto.text-center
                img(src="assets/images/pages/img45.png").img-fluid
            .col
                p #[b Muestre tomado al azar]

                p.mt-4 La ultima técnica a mencionar es la que se basa en una muestra que se toma totalmente al azar, por medio de un recipiente abierto, el cual se coloca en un solo punto en la superficie (arroyo, embalse, rio, etc), estas muestras por lo general se toman antes de hacer otro trabajo en el lugar para no afectar la corriente y la posterior recolección; para este ejercicio se utilizan muestreadores colectores que suelen pararse corriente abajo de la botella durante la operación de llenado, evitando que entren particular que estén suspendidas  (NTC 5667-2, 1995).

                p Para reforzar las técnicas puede apoyarse de la ISO 5667-2 Gestión ambiental. Calidad del agua. Muestreo. técnicas generales de muestreo, que se encuentra en la base de datos de la biblioteca SENA.
        
        p.mt-5 Visualice los siguientes videos para mayor comprensión de las técnicas y de los cuidados a tener en el muestreo de agua:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JBu6RQ1QMD0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X6fSx-3URRs', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wKGCgGrH1_o', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#procedimiento

    .jumbotron.bg-white

        .subtitulo-guion
            h2 7.2 Procedimiento para el muestreo de agua
        
        p Los siguientes procedimientos que se expondrán a continuación son tomados de: INTA (2010) Muestreo, transporte y conservación de muestras.

        section.mt-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_5_Muestreo_transporte_conservacion_muestras_agua.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Muestreo, transporte y conservación de muestras de agua
        
        .sub-line
            h3 Identificación del sitio de la toma de muestra
        
        p Debe hacerse de manera unívoca. Si se dispone de GPS posicionar satelitalmente la ubicación, de lo contrario especificar el lugar de la manera más concreta posible.

        .sub-line
            h3 Información requerida
        
        p Al momento de muestreo es necesario recabar, como mínimo, la siguiente información:

        .list.align-items-start.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Identificación unívoca de la muestra.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Identificación del sitio de muestreo. (georreferenciación)
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Tipo de fuente y características de la misma. (cercanía a pozos negros o industrias, profundidad del nivel estático y total, si fuera pozo o perforación, existencia de pozos abandonados, etc.)
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Destino. (consumo humano, animal, riego, etc.)
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Información acerca del Establecimiento donde se ha muestreado. (ubicación, propietario, vías de contacto, etc.)
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Condiciones de muestreo. (fecha y hora, nombre de quien realizó el muestreo)
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Tipo de análisis a efectuar.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Reactivo empleado para su preservación, en caso de ser utilizado.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Cualquier otra observación que se considere de importancia.
        
        p.mt-4 #[b Y de ser posible:] los análisis in situ como Temperatura del agua al momento de la toma y PH entre otros que se requieran en campo.

        .sub-line
            h3 Toma de muestra para análisis físico-químico de acuerdo a plan de muestreo
        
        p Las muestras de agua pueden provenir de fuentes superficiales (ríos, arroyos, canales, represas, lagos) o subterráneas (pozos) y este aspecto definirá las condiciones de muestreo. En función de la fuente que se vaya a muestrear, y para asegurar que la muestra sea lo más representativa posible del total, se tendrán en cuenta las siguientes consideraciones:

        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b No olvides]

                p Cualquiera sea la fuente, previo a la toma de la muestra, se enjuagará el envase por lo menos 3 veces con el agua a muestrear.
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img46.png").img-fluid
                        p.card__copy #[b Agua de red]

                        p.mt-4 Para la toma de una muestra de agua de red se abrirá el grifo o canilla y se dejará que el agua corra por lo menos durante 5 minutos de manera de tener purgada toda la cañería que llega desde el tanque. 

                        p El ramal donde se encuentre el grifo debe ser el principal, proveniente de la red, y no debe estar conectado en el trayecto con otras cañerías, filtros, ablandadores u otros artefactos que puedan alterar la calidad del agua del ramal principal. 

                        p También se debe tomar la precaución de retirar del grifo o boca de salida las mangueras u otros accesorios, y de limpiarlo tratando de eliminar sustancias acumuladas en el orificio interno de salida del agua y en el reborde externo, dejando correr agua libremente por espacio de 1 o 2 minutos, para arrastrar cualquier residuo. 
        
        p.mt-5 Para complementar la información Visualice el siguiente video:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DInTpLJycJ0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img47.png").img-fluid
                        p.card__copy #[b Agua de perforaciones]

                        p.mt-4 La muestra se debe tomar de la cañería inmediata al pozo y es conveniente que, antes de proceder a la toma de la muestra, la impulsión se mantenga en marcha durante unos 10-15 minutos, hasta que el agua emerja clara (sin sedimentos ni restos vegetales) y que sea del acuífero. Se debe prestar especial atención a esto si el pozo estuviera en desuso. Si el pozo fuera nuevo se debe bombear el tiempo suficiente hasta que salga limpia, de manera de muestrear el agua del acuífero y en lo posible bombear con caudal de diseño.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img48.png").img-fluid
                        p.card__copy #[b Agua superficial proveniente de un curso de agua (en movimiento)]

                        p.mt-4 Debe ponerse especial atención en buscar puntos estratégicos de muestreo (puentes, alcantarillas, botes, muelles), ya que se debe muestrear de sitios donde el agua se encuentre en circulación. Nunca muestrear desde donde se encuentra estancada. Si se tratara de muestreos periódicos o de control debe tratar de extraerse la muestra siempre en el mismo lugar Cuando no es posible tomar la muestra directamente con la mano, debe atarse al frasco un sobre peso usando el extremo de un cordel limpio o en su caso equipo muestreador comercial.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img49.png").img-fluid
                        p.card__copy #[b Agua superficial proveniente de un espejo de agua, represa o tanque de almacenamiento.]

                        p.mt-4 En estos casos, se puede proyectar una jabalina a unos 2 metros de la orilla, para no muestrear del borde, evitando tomar la muestra de la capa superficial o del fondo. Sumergir el frasco en el agua (incorporando un peso) con el cuello hacia abajo hasta una profundidad de 15 a 30 cm., destapar y girar el frasco ligeramente permitiendo el llenado. Retirar el frasco después que no se observe ascenso de burbujas.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img50.png").img-fluid
                        p.card__copy #[b Pozo somero o fuente similar (cisterna, aljibe, etc.)]

                        p.mt-4 Tomar la muestra bajando el frasco dentro del pozo hasta una profundidad de 15 a 30 cm. desde la superficie libre del líquido, evitando en todo momento tocar las paredes del pozo. Cuando no es posible tomar la muestra directamente con la mano, debe atarse al frasco un sobre peso usando el extremo de un cordel limpio o en su caso equipo muestreador comercial.

        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b Para tener en cuenta]

                p Toma de la muestra para análisis Fisicoquímicos:

                ul
                    li Rotular el envase o verificar que el rótulo del mismo sea el correcto.
                    li.mt-2 Enjuagar tres veces el envase con el agua que se va a muestrear, desechando el agua de enjuague.
                    li.mt-2 Recoger la muestra sin dejar cámara de aire.
                    li.mt-2 Cerrar el envase asegurando su correcto cierre.
                    li.mt-2 Guardar la muestra en lugar fresco. (No expuesta al sol y si fuera necesario en conservadora)
        
        .sub-line
            h3 Toma de muestra para análisis microbiológico

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img51.png").img-fluid
                        p.card__copy #[b Agua de perforación o de red]

                        p.mt-4 Para la toma de una muestra de agua de red se abrirá el grifo o canilla y se dejará que el agua corra por lo menos durante 5 minutos de manera de tener purgada toda la cañería que llega desde el tanque. 

                        p El ramal donde se encuentre el grifo debe ser el principal, proveniente de la red, y no debe estar conectado en el trayecto con otras cañerías, filtros, ablandadores u otros artefactos que puedan alterar la calidad del agua del ramal principal. 

                        p También se debe tomar la precaución de retirar del grifo o boca de salida las mangueras u otros accesorios, y de limpiarlo tratando de eliminar sustancias acumuladas en el orificio interno de salida del agua y en el reborde externo, dejando correr agua libremente por espacio de 1 o 2 minutos, para arrastrar cualquier residuo.
        
        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b Para tener en cuenta]

                p Toma de la muestra para analisis microbiológico:

                ul
                    li Rotular el envase o verificar que el rótulo del mismo sea el correcto.
                    li.mt-2 El envase a utilizar deberá estar esterilizado y durante la toma debe prestarse especial atención en mantener una adecuada asepsia para evitar la contaminación accidental de la muestra.
                    li.mt-2 Abrir el grifo o canilla y dejar salir agua durante 1 minuto, de manera que el chorro no sea intenso.
                    li.mt-2 Abrir el frasco estéril, evitando todo contacto de los dedos con la boca del mismo y sosteniendo la tapa de manera que ésta mire hacia abajo.
                    li.mt-2 Llenar el frasco dejando una cámara de aire. Durante el llenado es conveniente tener la precaución de mantener el frasco inclinado (a 45º) para evitar la introducción de partículas externas, especialmente cuando se trabaja en el exterior.
                    li.mt-2 Tapar inmediatamente, asegurando un cierre perfecto.
                    li.mt-2 Guardar la muestra en la conservadora con hielo (¡indispensable!!!), de manera de mantener las muestras a temperatura baja, para evitar la reproducción de microorganismos.
                    li.mt-2 Trasladarla lo más pronto posible al laboratorio.
        
        .sub-line
            h3 Acondicionado y preservación de las muestras en el almacenamiento temporal

        p El acondicionamiento de las muestras dependerá del objetivo del muestreo. En general, para análisis físico-químico puede ser necesario acondicionarlas con conservadores de frío, ya que algunas especies químicas (nitratos, sulfatos) pueden sufrir transformaciones por acción microbiana. También deben mantenerse al resguardo de la luz, procurando enviarlas lo más rápido posible al laboratorio. 

        p En el caso de análisis microbiológico es indispensable que la muestra se mantenga refrigerada hasta su arribo al laboratorio, ya que tanto las temperaturas mayores a 6ºC como la luz provocan la multiplicación de los microorganismos e invalidan la muestra dado que los resultados no reflejarán la realidad. 

        p Siempre es conveniente tomar la muestra y transportarla los primeros días de la semana, previendo feriados o días no laborables, ya que, si se requiriera análisis microbiológico, una vez en el Laboratorio son necesarias por lo menos 48 horas, para realizar los cultivos. 

        p En cualquier caso, debe evitarse el congelamiento de la muestra (el lugar correcto para conservar las muestras que no se hayan podido entregar al laboratorio es en la parte inferior de una heladera común).

        .row.justify-content-center
            .col-10.bg-color1.p-4.mt-5.rounded

                p #[b Para tener en cuenta]

                p Precauciones adicionales:

                ul
                    li Nunca haga las mediciones a campo en la misma muestra de agua que entregará al laboratorio para su análisis químico. Ésta siempre deberá efectuarlas en una sub-muestra separada, la cual descartará una vez efectuada la medición.
                    li.mt-2 Ponga especial cuidado en no tocar el interior de los frascos para muestras o sus tapas.
                    li.mt-2 Guarde los recipientes que va a utilizar para la recolección de las muestras en un ambiente limpio, libre de polvo, suciedad, gases y basura (la limpieza de los vehículos es un factor importante para evitar problemas de contaminación).
                    li.mt-2 Nunca exponga las muestras al sol, guárdelas en un lugar fresco (heladeras y conservadoras), y trasládelas sin demoras al laboratorio (en lo posible dentro del mismo día de muestreo).
                    li.mt-2 Asegúrese de la correcta identificación de las muestras antes de remitirlas al laboratorio.
            
        p.mt-4 Tomado de: INTA (2010) Muestreo, transporte y conservación de muestras <a href="https://inta.gob.ar/sites/default/files/script-tmp-muestreo_agua.pdf" target="_blank">https://inta.gob.ar/sites/default/files/script-tmp-muestreo_agua.pdf</a> 