.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Aforo de caudal:
            | es la cantidad de un fluido que atraviesa una sección en un determinado de tiempo es conocido como la tasa de flujo. En particular flujo volumétrico (Q) es el volumen de un fluido que circula en una sección por unidad de tiempo, y sus unidades son el m3/s. (IDEAM)
        p
            strong.mr-2 Agua potable o agua para consumo humano:
            | es aquella que, por cumplir las características físicas, químicas y microbiológicas, en las condiciones señaladas en el presente decreto y demás normas que la reglamenten, es apta para consumo humano. Se utiliza en bebida directa, en la preparación de alimentos o en la higiene personal (Decreto 1575, 2007, p.1).
        p
            strong.mr-2 Aguas residuales:
            | aguas que contienen residuos líquidos o materias sólidas evacuadas como desechos. (WMO, 2012). Las aguas residuales son cualquier tipo de agua cuya calidad está afectada negativamente por la influencia antropogénica. Las aguas residuales incluyen las aguas usadas, domésticas, urbanas y los residuos líquidos industriales o mineros eliminados, o las aguas que se mezclaron con las anteriores (aguas pluviales o naturales) (IDEAM, sf).
        p
            strong.mr-2 Análisis físico y químico del agua:
            | son aquellos procedimientos de laboratorio que se efectúan a una muestra de agua para evaluar sus características físicas, químicas o ambas (Resolución 2115, 2007, p.1).
        p
            strong.mr-2 Calidad del agua:
            | es el resultado de comparar las características físicas, químicas y microbiológicas encontradas en el agua, con el contenido de las normas que regulan la materia  (Decreto 1575, 2007, p.1).
        p
            strong.mr-2 Característica:
            | término usado para identificar elementos, compuestos, sustancias y microorganismos presentes en el agua para consumo humano (Resolución 2115, 2007,p.1).
        p
            strong.mr-2 Cuerpos o cursos de agua:
            | corresponden aquellos cauces o almacenamientos de agua como: arroyos, quebradas, ríos, lagos, lagunas, pantanos, humedales y acuíferos que conforman el sistema hidrográfico de una cuenca geográfica. Son las aguas corrientes superficiales y subterráneas, lagos, lagunas, ciénagas, manantiales, humedales, embalses de formación natural o artificial, chucuas o madre vieja o antiguos cauces con flujos estacionales, esteros, bahías, lagunas costeras, golfos y las aguas marinas. (IDEAM, sf)
        p
            strong.mr-2 Embalse:
            | los embalses constituyen lagos o lagunas artificiales creados por el hombre para almacenar agua, usualmente con el propósito de generación de electricidad, aunque también para prestar otros servicios como control de caudales, inundaciones, abastecimiento de agua y para riego (IDEAM, sf).
        p
            strong.mr-2 Horizonte del suelo:
            | es una capa de suelo o de material de suelo aproximadamente paralela a  la  superficie  del  terreno,  que  es  producto  de  la  evolución  y  que  difiere  de  capas  adyacentes  genéticamente  relacionadas con  ella  en  propiedades  y  características  físicas, químicas y biológicas. (NTC 3656)
        p
            strong.mr-2 Laguna:
            | es un depósito natural más o menos considerable de agua dulce o salada, en conexión con el mar o sin ella que no abastece ni es abastecido, o abastece sin ser abastecido o es abastecido sin abastecer y cuya profundidad es mayor a los 10 m (IDEAM, sf).
        p
            strong.mr-2 Monitoreo:
            | proceso de muestreo del sistema de suministro de agua para consumo humano, que cubre espacio, tiempo y frecuencia en los puntos concertados según norma (IDEAM, sf).
        p
            strong.mr-2 Muestra:
            | toma puntual de agua en los puntos de muestreo concertados, que refleja la composición física, química y microbiológica representativa del momento, para el proceso de vigilancia de la Autoridad Sanitaria (INS, 2011, p.9).
        p
            strong.mr-2 Muestra disturbada:
            | muestras obtenidas del terreno sin ningún intento de preservar la estructura del suelo; es decir las partículas del suelo se recogen “sueltas” y se dejan mover unas en relación con otras.(NTC 4113-1)
        p
            strong.mr-2 Muestra no disturbada:
            | muestras obtenidas del terreno usando un método diseñado para preservar la estructura del suelo; es decir se usa equipo de muestreo especial en tal forma que no se deja que las partículas y los vacíos cambien con respecto a la distribución existente en el terreno antes del muestreo. (NTC 4113-1
        p
            strong.mr-2 Muestra simple:
            | este tipo de muestra se toma en un momento y lugar determinado. Es aplicable en los casos que se sabe, la composición del agua no varía significativamente en el tiempo o lugar, como lo son usualmente para caracterización fisicoquímica de aguas naturales. En este caso tomar diferentes muestras puntuales puede ser útil para describir el comportamiento a través del espacio y tiempo (NTC 5667-2, 1995).
        p
            strong.mr-2 Muestras compuestas:
            | de acuerdo al Instituto de investigaciones marinas y costeras [INVEMAR], en el Manual de técnicas analíticas para la determinación de parámetros fisicoquímicos y contaminantes marinos, describe estas muestras como las que son usadas en su mayoría para vertimientos domésticos e industriales:
            br
            p Debido a la variación horaria de su caudal, por tal razón son muy utilizadas en el monitoreo de ríos, vertimientos o procesos industriales en línea. Su toma se realiza en un mismo punto en intervalos de tiempo previamente definidos, y el volumen de cada muestra parcial puede ser constante o variar en función del caudal. (INVEMAR) 

        p
            strong.mr-2 Muestras integradas:
            | este tipo de muestra consiste en la recolección de muestras simples en diferentes puntos de manera simultánea que posteriormente son mezcladas. En caso de presentarse variaciones de caudal en los puntos de muestreo, se debe tener en cuenta para que el volumen aportado sea proporcional al caudal medido durante la toma de la muestra. (Instituto de hidrología, meteorología y estudios ambientales [IDEAM], 2017).
        p
            strong.mr-2 Muestreo:
            | proceso de toma de muestras que son analizadas en laboratorios para obtener información sobre la calidad del agua del sitio concertado en que fueron tomadas. (INS, 2011, Pag. 9)
        p
            strong.mr-2 Perfil del suelo:
            | exposición  vertical  de  horizontes  de  un  suelo  individual  que  son  el  resultado de la edafogénesis durante el período de formación del suelo(NTC 3656).
        p
            strong.mr-2 Pozo:
            | agujero o perforación excavado o taladrado en la tierra para extraer agua subterránea  (IDEAM, s,f).
        p
            strong.mr-2 Puntos de muestreo en red de distribución:
            | son aquellos sitios concertados y materializados con dispositivos de toma, donde se realiza la recolección de la muestra de agua para la vigilancia y el control (Resolución 0811, 2008).
        p
            strong.mr-2 Representatividad:
            | lapso de 10 minutos, dentro de los cuales se toma la muestra y contramuestra de agua en el dispositivo instalado en el sitio de monitoreo concertado entre vigilancia y control (INS, 2011, Pag. 9).
        p
            strong.mr-2 Río:
            | corriente de agua de grandes dimensiones que sirve de canal natural en una cuenca de drenaje (IDEAM, s,f).
        p
            strong.mr-2 Suelo:
            | sistema natural desarrollado, o desarrollándose a partir de una mezcla de minerales y restos orgánicos, bajo la influencia del clima y del medio biológico; es un sistema de tres fases (sólida, líquida y gaseosa), que se diferencia en horizontes y sirve como medio natural para el crecimiento de las plantas. (NTC 3656)
        p
            strong.mr-2 Suelo contaminado:
            | es aquel que, por acción natural y principalmente antrópica recibe sustancias extrañas de tipo sólido, líquido o gaseoso, que limitan, o pueden limitar, el crecimiento de las plantas y afectan desfavorablemente la biota edáfica, la vida animal y la  salud humana. (NTC 3656)
        p
            strong.mr-2 Sustancia química peligrosa:
            | cualquier químico que represente un peligro bajo uso normal o en una emergencia (Ministerio de educación nacional, 2015, Pag. 11)
        p
            strong.mr-2 Traza:
            | es una cantidad mínima de una característica química encontrada en el agua analizada de la muestra o contramuestra tomada. (INS, 2011, Pag. 9)
        p
            strong.mr-2 Unidad de muestreo:
            | es una porción de área uniforme, en cuanto a material parenteral, relieve, clima, vegetación, uso del suelo, manejo de tierras. (NTC 3656)